.box {
    width: 200px;
    height: 200px;
}

.box1 {
    left: 50px;
    top: 50px;
    background: #eb5959;
    position: absolute;
}

.box2 {
    left: 150px;
    top: 150px;
    background: #6559eb;
    position: absolute;
    z-index: 1;
}

.box3 {
    left: 250px;
    top: 250px;
    background: #6deb59;
    position: absolute;
}